# diverse
.idea
.sass-cache
.tmp
.svn
*.lock
*.js.map

# node modules
node_modules/

# redaxo files, but not addon subfolders
#app/files/*.*

# redaxo cache folders
app/redaxo/include/generated/*
!app/redaxo/include/generated/.gitkeep

# debug file
#app/_DEBUG

# dist files
dist/*.*
!dist/.gitkeep